html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
}

.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

.distance {
  margin-bottom: 94px;
}

.names {
  color: $title-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.section.no-padding {
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  color: $title-text-color;
}
